.dc-calendar {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 40px;
}

.dc-calendar [aria-label="jsx-a11y/accessible-emoji"] {
  margin-right: 4px;
}

.dc-calendar * {
  outline: none;
}
.dc-calendar button {
  cursor: pointer;
  color: white;
  background: #007aff;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
  user-select: none;
  font-weight: 200;
  transition: all 0.3s;
}
.dc-calendar button:hover {
  background: rgba(0, 122, 255, .8);
}
.dc-calendar button:disabled, .dc-calendar button:hover:disabled {
  background: #ccc;
}

/* HEADER */
.dc-header {
  padding-bottom: 10px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.dc-header-column {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  align-self: auto;
}
.dc-header-views button {
  border-radius: 0;
}
.dc-header-views button:first-child {
  border-radius: 3px 0 0 3px;
  margin-right: 1px;
}
.dc-header-views button:last-child {
  border-radius: 0 3px 3px 0;
  margin-left: 1px;
}
.dc-header-title {
  font-size: 20px;
  color: #ff2d55;
}
.dc-header-title button {
  margin: 0 10px;
  color: #000;
  background: transparent;
  border: none;
}
.dc-header-title button:hover {
  transform: scale(1.2);
  background: transparent;
}

/* YEAR VIEW */
.dc-view-year-month-title {
  float: left;
  width: 100%;
  color: #ff2d55;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  margin: 0 0 13px;
  font-weight: 200;
}
.dc-view-year-month {
  width: 33%;
  float: left;
  padding: 0 15px;
  min-height: 210px;
  box-sizing: border-box;
}
.dc-view-year-day {
  float: left;
  width: calc(100% / 7);
  height: 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}
.dc-view-year-names .dc-view-year-day {
  color: #ccc;
}
/* hover-ефекти для відображення подій */
.dc-year-events-wrap {
  position: relative;
}
.dc-year-events-counter {
  background: #e8e8e8;
  color: #8a8585;
  border-radius: 50%;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 10px;
  line-height: 14px;
  position: relative;
  top: -6px;
  float: right;
}
.dc-year-events-container {
  position: absolute;
  text-align: left;
  background: #fff;
  box-shadow: 1px 1px 1px #ccc;
  border: 1px solid #dedede;
  border-radius: 3px;
  width: 120px;
  right: -120px;
  list-style-type: none;
  top: 10px;
  margin: 0;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all 0.2s;
  transition-delay: 0.3s; 
}
.dc-year-events-container:before {
  content: '';
  width: 7px;
  height: 7px;
  display: block;
  border-top: 1px solid #dedede;
  border-left: 1px solid #dedede;
  top: -5px;
  left: 2px;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  transform: rotate(45deg);
}
.dc-view-year-day:hover .dc-year-events-container {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.dc-year-event {
  display: block;
  text-align: left;
  margin-bottom: 6px;
}
/* підправити стилі для івентів в місяцях які з права екрану */
.dc-view-year-month:nth-child(3n+3) .dc-year-events-container {
  right: -2px;
}
.dc-view-year-month:nth-child(3n+3) .dc-year-events-container::before {
  right: 3px;
  left: auto;
}

/* MONTH VIEW */
.dc-view-month-day {
  float: left;
  width: calc(100% / 7);
  height: 100px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  padding: 5px;
}
.dc-view-month-title {
  color: #ff2d55;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 13px;
  font-weight: 100;
}
.dc-view-month-day-number {
  display: block;
  text-align: right;
}
.dc-view-month-events {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.dc-view-month-event {
  background: #f1f1f1;
  border-radius: 3px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
  cursor: pointer;
  transition: all 0.25s;
}
 /* показати всі елементи дня по ховеру */
.dc-view-month-event:nth-child(3):after {
  content: '+more';
  display: block;
  color: #007aff;
  background: #fff;
}
.dc-view-month-event:nth-child(3) ~ li {
  opacity: 0;
  visibility: hidden;
}
.dc-view-month-events:hover .dc-view-month-event {
  opacity: 1;
  visibility: visible;
}
.dc-view-month-events:hover .dc-view-month-event:after {
  display: none;
}

.dc-month-empty {
  border-color: transparent;
}

/* WEEK VIEW */
.dc-week-timeline {
  width: 50px;
  float: left;
  min-height: 200px;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
  line-height: 40px;
}
.dc-week-rows {
  width: calc(100% - 50px);
  float: left;
}
.dc-week-row {
  width: calc(100% / 7);
  border-right: 1px solid #ccc;
  min-height: 200px;
  float: left;
  font-size: 13px; 
  box-sizing: border-box;
}
.dc-week-timeline-hour {
  color: #999;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}
.dc-week-hour {
  position: relative;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 40px;
  width: calc(100% / 7);
  float: left;
  box-sizing: border-box;
}

.dc-week-hour:before {
  content: '';
  position: absolute;
  top: 19px;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #ccc;
}
.dc-week-content, .dc-week-events {
  width: calc(100% - 50px);
  float: left;
}
.dc-week-events {
  position: relative;
  overflow: hidden;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}
.dc-week-title {
  font-size: 13px;
  color: #999;
  text-align: center;
  line-height: 40px;
  float: left;
  width: calc(100% / 7);
  border-bottom: 1px solid #ccc;
}

.dc-week-event {
  cursor: pointer;
  box-shadow: 1px 1px 1px #ccc;
  background: #f1f1f1;
  border-radius: 3px;
  position: absolute;
  font-size: 13px;
  padding: 2px;
  width: calc(100% / 7 - 3px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

/* ПОПАП ДЛЯ ІВЕНТІВ */
.dc-popup-wrap {
  position: fixed;
  background: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
}
.dc-popup {
  background: #fff;
  position: relative;
  width: 300px;
  margin: 100px auto auto;
  padding: 20px;
}
.dc-popup-close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #ff2d55;
  border: 1px solid #ff2d55;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.dc-popup-title {
  margin-top: 0;
}
.dc-popup-row {
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
.dc-popup-row-name {
  width: 100px;
  float: left;
  line-height: 24px;
}
.dc-popup-row-value {
  float: left;
}
.dc-popup-row-value input {
  float: left;
  clear: both;
  font-size: 13px;
  height: 24px;
  padding: 0 5px;
}
.dc-popup-error, .dc-popup-msg {
  font-size: 12px;
  float: left;
  clear: both;
  width: 160px;
}
.dc-popup-error {
  color: #ff2d55;
}
